# Non-secret deployment authority. REQUIRED values fail closed until approved.
KONG_DB_STABLE_ENDPOINT=kong-db.internal.codestra.agency
KONG_DB_PRIMARY_HOST=REQUIRED_APPROVED_PRIMARY
KONG_DB_REPLICA_HOST=REQUIRED_INDEPENDENT_FAILURE_DOMAIN
KONG_DB_REPLICA_CIDR=REQUIRED_PRIVATE_REPLICA_CIDR
KONG_DB_FENCING_PROVIDER=REQUIRED_COMPUTE_OR_NETWORK_FENCE
KONG_DB_PROMOTION_AUTHORITY=REQUIRED_PLATFORM_AND_DATABASE_OWNER
KONG_DB_REPLICATION_TLS=required
KONG_DB_PHYSICAL_SLOT=codestra_kong_ha
KONG_DB_RPO_SECONDS=300
KONG_DB_RTO_SECONDS=900
