# Copy to a protected, non-Git path. REQUIRED is always rejected.
KONG_CHANGE_ID=CHG-20260826-KONG-DB-HA-01
KONG_CHANGE_STATUS=APPROVED
KONG_CHANGE_OWNER=Ralph_Appolon
KONG_DATABASE_OWNER=Ralph_Appolon
KONG_PLATFORM_OWNER=Ralph_Appolon
KONG_ROLLBACK_OWNER=Ralph_Appolon
KONG_CANARY_OWNER=Ralph_Appolon
KONG_FAILOVER_OWNER=Ralph_Appolon
KONG_FENCING_OWNER=Ralph_Appolon
KONG_DNS_OWNER=Ralph_Appolon
KONG_SECRET_OWNER=Ralph_Appolon
KONG_ROTATION_OWNER=Ralph_Appolon
KONG_TELEPHONY_OPERATOR_OWNER=Ralph_Appolon

KONG_MAINTENANCE_START=2026-08-28T00:00:00-04:00
KONG_MAINTENANCE_END=2026-08-28T04:00:00-04:00
KONG_TIMEZONE=America/Santo_Domingo
KONG_FAILOVER_REHEARSAL_WINDOW=2026-08-29T00:00:00-04:00/2026-08-29T02:00:00-04:00
KONG_LOAD_SOAK_WINDOW=2026-08-30T00:00:00-04:00/2026-08-30T04:00:00-04:00

KONG_DB_REPLICA_HOST=codestra-provider
KONG_DB_REPLICA_IP=10.40.0.4
KONG_DB_REPLICA_CIDR=10.40.0.4/32
KONG_DB_FAILURE_DOMAIN=separate_bare_metal_same_provider_vlan_host_level_HA
KONG_DB_REPLICA_PROVIDER=Hetzner_Robot
KONG_DB_REPLICA_STORAGE=200GiB_dedicated_persistent_NVMe
KONG_DB_REPLICA_TLS_IDENTITY=kong-db-replica.internal.codestra.agency

KONG_DB_STABLE_AUTHORITY=kong-db.internal.codestra.agency
KONG_DB_DNS_BACKEND=dual_private_CoreDNS
KONG_DB_DNS_OWNER=Ralph_Appolon
KONG_DB_DNS_TTL_SECONDS=30
KONG_DB_PROMOTION_MUTATION_OWNER=Ralph_Appolon

KONG_DB_FENCING_PROVIDER=Hetzner_Robot_Webservice
KONG_DB_FENCING_OWNER=Ralph_Appolon
KONG_DB_FENCE_ACTION=provider_hard_power_off_primary
KONG_DB_FENCE_VERIFY_ACTION=provider_off_and_ports_5432_22_unreachable_three_checks_30_seconds
KONG_DB_UNFENCE_ACTION=manual_after_DNS_removal_and_reseed_approval

KONG_DB_SECRET_AUTHORITY=/etc/codestra/secrets/kong-database
KONG_DB_SECRET_OWNER=Ralph_Appolon
KONG_DB_ROTATION_OWNER=Ralph_Appolon
KONG_DB_ROTATION_INTERVAL_DAYS=90
KONG_DB_BREAK_GLASS_POLICY=owner_plus_independent_approval_one_time_credential_audit_rotate_within_1_hour

KONG_DB_RPO_SECONDS=300
KONG_DB_RTO_SECONDS=900
KONG_DB_WAL_RETENTION_DAYS=7
KONG_DB_BASE_BACKUP_RETENTION=weekly_and_before_every_change
KONG_DB_LOGICAL_BACKUP_RETENTION=14_daily_8_weekly_12_monthly

KONG_TELEPHONY_CANARY_AUTHORITY=Ralph_Appolon
KONG_BACKUP_EVIDENCE=REQUIRED
KONG_OFFHOST_BACKUP_EVIDENCE=REQUIRED
KONG_RESTORE_EVIDENCE=REQUIRED
KONG_PITR_REHEARSAL_EVIDENCE=REQUIRED
KONG_ROLLBACK_EVIDENCE=REQUIRED
KONG_TELEPHONY_EVIDENCE=REQUIRED
